@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
}

header {
    background-color: #24252a;
    box-shadow: 2px 3px 10px #bdbbbb; /* colocar sobra */
}

.nav-bar {
    display: flex; /* Cria conteiner*/
    justify-content: space-between; /* Cria espaço entre as linha*/
    padding: 1.5rem 6rem; /* Deixar responsivo */
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content:center;
    list-style: none; /* Retirar as bolinhas */
}

.nav-list a.active,
.nav-list a:hover {
    color: orange;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none; /* Retirar a linha */
    font-size: 1.15rem;
    font-weight: 400;
    color: #fff;
}

.menu-btn, 
.mobile-menu {
    display: none;
}

section {
    background-image: url(../img/tec.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .menu-btn {
        display: block;               
    }

    .menu-btn button {        
        background-color: transparent;
        border: 0;
        cursor: pointer;        
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column; /* criar colunas*/
        text-align: center;
        padding-bottom: 1rem;
    }
        
    .mobile-menu a.active,
    .mobile-menu a:hover {
        color: orange;
        
       
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;        
    }

    .open {
        display: block;
    }
}

