/* @charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {height: 100%;} */

body {
    margin: 30px;
}


.bloco-1 {
    background-color: #C6D8EF;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
}

.bloco-2 {
    background-color: #D8BFD7;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
}

.bloco-3 {
    background-color :#FF9999;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
}

.container-1 {
    display:flex;
    background-color: hsl(44, 79%, 87%);
    max-width: 500px;    
    padding: 10px;
    justify-content: flex-start;   
}

.container-2 {
    display:flex;
    background-color: #F8EAC2;
    max-width: 500px;    
    padding: 10px;
    justify-content: flex-end;   
}

.container-3 {
    display:flex;
    background-color: #F8EAC2;
    max-width: 500px;    
    padding: 10px;
    justify-content: center;   
}

.container-4 {
    display:flex;
    background-color: #F8EAC2;
    max-width: 500px;    
    padding: 10px;
    justify-content: space-between;   
}

.container-5 {
    display:flex;
    background-color: #F8EAC2;
    max-width: 500px;    
    padding: 10px;
    justify-content: space-around;   
}